<mat-toolbar color="primary" class="mb-2">
    <a mat-icon-button routerLink="inicio">
        <mat-icon>menu</mat-icon>        
    </a>
    <a mat-button routerLink="inicio">
        <h3>Empresa Patito, SA de CV</h3>
    </a>    
    <span class="spacer"></span>
    <a mat-button routerLink="empleados-rxjs">
        <mat-icon>person</mat-icon>
        <span class="px-1">Empleados rxjs</span>
    </a>
    <a mat-button routerLink="empleados">
        <mat-icon>person</mat-icon>
        <span class="px-1">Empleados input/output</span>
    </a>
    <a mat-button routerLink="departamentos">
        <mat-icon>group</mat-icon>
        <span class="px-1">Departamentos</span>
    </a>
    <a mat-button routerLink="nomina">
        <mat-icon>payments</mat-icon>
        <span class="px-1">Nóminas</span>
    </a>
    <a mat-button routerLink="usuarios" class="px-3">
        <mat-icon>admin_panel_settings</mat-icon>        
        <span class="px-1">Usuarios</span>
    </a>
</mat-toolbar>
