<img class="img-center" src="../../../assets/imagenes/trabajo-en-proceso.jpg" alt="trabajo-en-proceso">

<!-- <div class="w-100 h-100 d-flex flex-row align-items-center justify-content-center">
    <div class="card-wrapper bg-white p-4">
        <div class="text-center">
            <img src="../../../assets/imagenes/empresa.jpg" style="max-width: 190px;" alt="Empresa" />
        </div>

        <div class="text-center mt-4 mb-2" style="color: #606060">
            <small><b>Inicia sesión con tu cuenta de</b></small>
        </div>

        <form method="post" class="form-horizontal">
            <button type="submit" name="provider" value="Google" class="btn btn-secondary w-100 mb-2 d-flex flex-row justify-content-center align-items-center p-0">
                <div style="width: 50px" class="text-center">
                    <svg style="transform: translateY(4px);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32px" height="32px"><path fill="#f4511e" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z" /><path fill="#fff" d="M34 19H36V27H34z" /><path fill="#fff" d="M31 22H39V24H31zM27.815 22.2l-.05-.2H19v3h5.91c-.477 2.837-2.938 5-5.91 5-3.314 0-6-2.686-6-6s2.686-6 6-6c1.5 0 2.868.554 3.92 1.465l2.151-2.106C23.471 15.894 21.34 15 19 15c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9C28 23.383 27.934 22.782 27.815 22.2z" /></svg>
                </div>
                <b class="ml-3 text-left" style="width: 100px">Google</b>
            </button>

            <button type="submit" name="provider" value="Microsoft" class="btn btn-secondary w-100 d-flex flex-row justify-content-center align-items-center p-0">
                <div style="width: 50px" class="text-center">
                    <svg style="transform: translateY(4px);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32px" height="32px"><path fill="#ff5722" d="M6 6H22V22H6z" transform="rotate(-180 14 14)" /><path fill="#4caf50" d="M26 6H42V22H26z" transform="rotate(-180 34 14)" /><path fill="#ffc107" d="M26 26H42V42H26z" transform="rotate(-180 34 34)" /><path fill="#03a9f4" d="M6 26H22V42H6z" transform="rotate(-180 14 34)" /></svg>
                </div>
                <b class="ml-3 text-left" style="width: 100px">Microsoft</b>
            </button>
        </form>

        <div class="mt-2">
            <hr />
        </div>

        <div class="text-center my-3" style="color: #606060">
            <small><b style="font-weight:800;">O con tu usuario y contraseña de Empresa</b></small>
        </div>

        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="Email" class="text-muted"><small>Usuario</small></label>
                <input asp-for="Email" class="form-control" />
                <div class="bar"></div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="text-muted"><small>Contraseña</small></label>
                <input asp-for="Password" class="form-control" />
                <div class="bar"></div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="text-left">
                    <small class="m-0" id="CapsLock">
                        <b><a class="text-primary"></a></b>
                    </small>
                </div>
                <div class="text-right">
                    <small class="m-0">
                        <b><a asp-action="ForgotPassword" class="text-success">¿Olvidaste tu contraseña?</a></b>
                    </small>
                </div>
            </div>
            @*<div class="form-group">
                    <div class="custom-control custom-checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" class="custom-control-input"/>
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" checked="checked" />
                        <label class="custom-control-label" for="customControlAutosizing">Recordar mi cuenta</label>
                    </div>
                </div>*@
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-secondary w-100"><b>Iniciar Sesión</b></button>
            </div>
            <div class="form-group m-0 p-0 text-center">
                <b>
                    <a class="text-success">¿Eres nuevo usuario? Registrate aquí</a>
                </b>
            </div>            
        </form>
    </div>
</div> -->
