<div class="px-3">
    <table class="table table-striped table-hover">      
        <tr class="thead-light">        
            <th class="check">
            <input class="form-check-input" type="checkbox" [checked]="todosEmpleados" (change)="todosEmpleados = !todosEmpleados; seleccionarTodo()"
                id="checkTodos">
            </th>
            <th style="width:150px; max-width: 150px;">
            <label class="form-check-label" for="checkTodos">
                <small>{{ todosEmpleados ? 'Quitar todos' : 'Seleccionar Todos' }}</small>
            </label>
            </th>
            <th>Id</th>
            <th>Nombre</th>
            <th class="rfc" >RFC</th>
            <th class="fecha">Alta</th>
            <th class="fecha">Baja</th>        
        </tr>      
        <tbody>
        <ng-container *ngFor="let empleado of empleados">
            <tr *ngIf="sinBajas ? !empleado.esBaja : soloBajas ? empleado.esBaja : true">
            <td>
                <input class="form-check-input" type="checkbox" [checked]="empleado.seleccionado" (change)="empleado.seleccionado = !empleado.seleccionado"
                    id="seleccionarEmpleado">
                <label class="form-check-label" for="seleccionarEmpleado"></label>
            </td>
            <td><small>{{ empleado.seleccionado ? 'Seleccionado' : 'No seleccionado' }}</small></td>
            <td><a (click)="editarEmpleado(empleado.id)">{{empleado.id}}</a></td>            
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.rfc}}</td>            
            <td>{{empleado.alta | date:'dd MMMM yyyy' | titlecase}}</td>
            <td>{{ empleado.esBaja ? (empleado.baja | date: 'mediumDate' | titlecase) : '--' }}</td>
            </tr>
        </ng-container>
        </tbody>
    </table>
    <div class="row">
        <div class="col-2">
        <button class="btn btn-gris shadow-sm" (click)="verFiltros = !verFiltros">
            <div class="d-flex flex-row align-items-center text-navy">
                <i class="material-icons p-1">
                filter_alt
                </i>
                <b class="d-none d-lg-inline-block p-1">{{ verFiltros ? 'Ocultar filtros' : 'Mostrar filtros' }}</b>
            </div>
        </button>
        </div>
        <div class="col-10 text-end"  *ngIf="verFiltros">      
            <button class="btn btn-success shadow-sm" (click)="cargarTodosEmpleados()">
            <div class="d-flex flex-row align-items-center text-navy">
                <i class="material-icons mr-1">
                    sync_alt
                </i>
                <b class="d-none d-lg-inline-block ml-2">Cargar todos los empleados</b>
            </div>
            </button>
            <button class="btn btn-outline-success shadow-sm" (click)="noMostrarBajas()">
            <div class="d-flex flex-row align-items-center text-navy">
                <i class="material-icons">
                    subdirectory_arrow_left
                </i>
                <b class="d-none d-lg-inline-block ml-2">No mostrar bajas</b>
            </div>
            </button>
            <button class="btn btn-outline-success shadow-sm" (click)="soloMostrarBajas()">
            <div class="d-flex flex-row align-items-center text-navy">
                <i class="material-icons">
                    south_east 
                </i>
                <b class="d-none d-lg-inline-block ml-2">Solo empleados dados de baja</b>
            </div>
            </button>
            <button class="btn btn-outline-success shadow-sm" (click)="soloSeleccionados()">
            <div class="d-flex flex-row align-items-center text-navy">
                <i class="material-icons">
                    filter_alt
                </i>
                <b class="d-none d-lg-inline-block ml-2">Solo mostrar seleccionados</b>
            </div>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
        <button class="btn btn-success shadow-sm" (click)="seleccionarEmpleados()">
            <div class="d-flex flex-row align-items-center text-navy">
                <i class="material-icons p-1">
                cloud_upload
                </i>
                <b class="d-none d-lg-inline-block p-1"> Aplicar cambios </b>
            </div>
        </button>
        </div>
    </div>
</div>